# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug symbols
*.dSYM
.DS_Store

# Pictures
*.png

generator/Testgenerator.dSYM/Contents/Resources/DWARF/Testgenerator
# build folders
cmake-build-*

#CLion
.idea
CMakeFiles
